<p id="notice"><%= notice %></p>

<p>
  <strong>Articulo:</strong>
  <%= @comentario.articulo_id %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', articulo_path(@comentario.articulo_id) %>
